# Ignore all
*

# But allow

# Shared config
!.gitignore
!stow.md
!README.md

# Git
!git/
!git/.gitconfig
!git/.gitignore_global

# Zsh
!zsh/
!zsh/.zshrc
!zsh/.zsh_plugins.txt

# Vim
!vim/
!vim/.vimrc

# Tmux
!.tmux/
!.tmux/.tmux.conf

# Brew
!brew/
!brew/leaves.txt
!brew/casks.txt

# SSH
!ssh/
!ssh/.ssh/
!ssh/.ssh/config

# Config directory
!config/
!config/.config/
!config/.config/mpv/
!config/.config/mpv/**
!config/.config/bat/
!config/.config/bat/**
!config/.config/cmus/
!config/.config/cmus/**
!config/.config/neofetch/
!config/.config/neofetch/**
!config/.config/nvim/
!config/.config/nvim/**
!config/.config/wezterm/
!config/.config/wezterm/**
!config/.config/yt-dlp/
!config/.config/yt-dlp/**
!config/.config/fish/
!config/.config/fish/**
!config/.config/gh/
!config/.config/gh/**
# Yazi

!yazi/
!yazi/**
yazi/.DS_Store
yazi/flavors/.DS_Store
yazi/plugins/.DS_Store

# Mac specific
!mac/
!mac/.config/
!mac/.config/aerospace/
!mac/.config/aerospace/**
!mac/.config/iterm2/
!mac/.config/iterm2/**
!mac/.config/sketchybar/
!mac/.config/sketchybar/**

# Linux specific
!linux/
!linux/.config/
!linux/.config/sway/
!linux/.config/sway/**
!linux/.config/waybar/
!linux/.config/waybar/**
!linux/.config/wlogout/
!linux/.config/wlogout/**
!linux/.config/wofi/
!linux/.config/wofi/**
!linux/.config/zathura/
!linux/.config/zathura/**
!linux/.config/foot/
!linux/.config/foot/**

# Global DS_Store exclusion
**/.DS_Store
