* {
    /* outline-style:none; */
   /* border:none; */
  /* background:transparent; */
 font-family:JetBrainsMono Nerd Font;
font-size:14px; 
   }

window {
  margin:0px;
  border:1px solid #88c0d0;
  /* background-color:#2e3440; */
}

#input {
  margin:5px;
  border:none;
}


#text {
     margin-left:10px;
     margin-top:5px;
}

#img {
     margin-top:5px;
     margin-left:10px;
}



}
